body {
    font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
    font-size: 1em;
    font-style: normal;
    color: #686867;
    letter-spacing: 0.1px;
    line-height: 1.4;
}

a {
    color: #000;
}

@media (prefers-color-scheme: dark) {
    body {
        color: lightgray;
        background: #121212;
    }

    body a {
        color: white;
    }
}

@media (max-device-width: 900px) {
    #location{
        font-size: 2em
    }

    #nav {
        font-size: 2em
    }

    #footer {
        font-size: 2em
    }

    .music-item {
        font-size: 2em
    }
}

@media (max-device-width: 900px), (max-width: 700px) {   
    #body-text {
        width: 90%
    }
    
    header {
        display: flex;
        justify-content: space-between;
    }

    #location {
        position: relative !important;
    }

    #nav {
        position: relative !important;
    }
}

a:hover {
    font-style: italic;
}

#body-text {
    padding-bottom: 200px;
}

#location {
    position: fixed;
    left: 20px;
    top: 20px;
    display: inline-block;
    z-index: 100;
}

#nav {
    position: fixed;
    top: 20px;
    right: 20px;
}

#footer {
    position: fixed;
    right: 20px;
    bottom: 20px;
}

#body-img {
    text-align: center;
    padding-top: 200px;
    padding-right: 200px;
    animation: fadein_one 1s;
}

.contact {
    width: min(50%, 700px);
    margin: 0 auto;
    padding-top: 200px;
    animation: fadein_one 1s;
}

.image-line {
    display: flex;
    justify-content: space-around;
    padding-bottom: 10%;
    position: relative;
}

.image-line2 {
    display: flex;
    justify-content: space-around;
    position: relative;
    align-items: center;
}

.music-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: top 30px;
    margin: bottom 30px;
}


.photo {
    padding: 5px;
    width: 33%;
    height: 20%;
}

.photoby {
    width: 60%;
    margin: 0 auto;
    padding-top: 200px;
    padding-bottom: 50px;
    animation: fadein_one 1s;
}

.photo2:hover {
    -webkit-transform: scale(1.5, 1.5);
    z-index: 1;
}
.photo3:hover {
    -webkit-transform: scale(1.25, 1.25);
    z-index: 1;
}

.photo:hover {
    -webkit-transform: scale(2, 2);
    z-index: 1;
}

#fadein {
    width: 60%;
    margin: 0 auto;
    animation: fadein_one 3s;
}

@keyframes fadein_one {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

