body {
  font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
  font-size: 16px; font-style: normal; 
  color:#686867;

}

a {
  color:#000
}

a:hover{
  font-style: italic;
}

#body-text {
  padding-bottom: 200px;
}

#location {
  position: fixed;
  left: 20px;
  top: 20px;
  display: inline-block;
  z-index: 100;
}

#nav{
    position:fixed;
    top:20px;
    right:20px;
}

#footer{
  position:fixed;
  right:20px;
  bottom:20px;
}

#body-img{
  text-align:center;
  padding-top: 200px;
  padding-right: 200px;
  animation: fadein_one 1s;
}

.contact{
  width: 50%;
  margin: 0 auto;
  padding-top: 200px;
  animation: fadein_one 1s;
}

.image-line {
  display: flex;
  justify-content: space-between;
  width:60%;
  margin: 0 auto;
  padding-bottom: 200px
}

.photo {
  padding:5px;
}

.photoby {
  width: 60%;
  margin: 0 auto;
  padding-top: 200px;
  padding-bottom: 50px;
  animation: fadein_one 1s;
}

.photo:hover{
  -webkit-transform: scale(2,2);
}

#fadein{
  animation: fadein_one 1s;
}

@keyframes fadein_one {
    0% { opacity: 0; }
    50%   { opacity: 0; }
    100% { opacity: 1; }
}
